.sidebar .nav-link {
    font-weight: 500 !important;
    color: #333 !important;
}

.sidebar .nav-link .feather {
    margin-right: 4px !important;
    color: #727272 !important;
}

.sidebar .nav-link.active {
    color: #007bff !important;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit !important;
}