.sidebar .nav-link {
    display: inline-block !important;
    padding-left: 0 !important;
    font-weight: 500 !important;
    color: #333 !important;
}

.sidebar .nav-link .feather {
    margin-right: 4px !important;
    color: #727272 !important;
}

.sidebar .nav-link.active {
    color: #007bff !important;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit !important;
}

.sidebar .remove-link {
    display: inline-block !important;
    margin-right: 4px !important; 
    cursor: pointer !important; 
    color: #007bff !important;
}