input[type="text"] {
    position: relative !important;
    box-sizing: border-box !important;
    height: 30px !important;
}

.add-btn {
    margin: 5px 0px 5px auto !important;
    display: block !important;
}